@import '@progress/kendo-theme-default/dist/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  background-color: #030712;
  color: #f9fafb;
  font-family: Arial, sans-serif;
}

.k-input, .k-textarea {
  background-color: #1f2937 !important;
  color: #f9fafb !important;
  border-color: #374151 !important;
}

.k-button-solid-primary {
  background-color: #7c3aed !important;
  border-color: #7c3aed !important;
}
